* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #f0f0f0;
    background-image: url("../images/bg-dust_scratches.png");
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a,
a:active,
a:link,
a:visited {
    color: #777;
    text-decoration: none;
}

a:hover {
    color: #7F0000;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* CLEAR FIX */

/* ::  more widely adopted for pseudo elements because it provides support for IE8 */

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADING TAGS */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* FORM */

label {
    display: block;
}

input {
    border: 1px solid #a3a8ac;
    display: block;
    line-height: 1.4;
    margin: 0 0 20px 0;
    padding: 5px;
    width: 99%;
}

input.message {
    height: 200px;
}

button {
    padding: 20px 50px;
    background: #4aaaa5;
    color: #fff;
    font-size: 18px;
}

button:hover {
    background-color: #7F0000;
    cursor: pointer;
}

/* HEADER */

header {
    background: #fff;
    margin-bottom: 40px;
}

#header-wrapper {
    border-bottom: 2px #ccc solid;
}

#header-content {
    margin: 0 auto;
    width: 960px;
}

h1#header-title {
    background: #4aaaa5;
    color: #fff;
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0 0 0;
    padding: 30px;
}

/* NAVIGATION */

nav {
    float: right;
    margin: 38px 0;
    text-align: right;
}

nav div {
    display: inline-block;
}

nav .link {
    padding: 10px;
}

nav .separator {
    color: rgb(230, 230, 230);
}

/* MAIN CONTENT which wraps around section and aside */

#content-wrapper {
    flex: 1 0 auto;
}

#content {
    margin: 0 auto;
    width: 960px;
}

/* SECTION */

section {
    background: #fff;
    border: 2px solid #ddd;
    float: left;
    line-height: 2em;
    padding: 30px;
    width: 60%;
}

h2.section-title {
    color: #4aaaa5;
    border: solid #ccc;
    border-width: 0 0 3px 0;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 20px;
    padding-bottom: 30px;
}

.bioimage {
    float: left;
    height: auto;
    padding: 0 20px 20px 0;
    width: 250px;
}

/* ASIDE */

aside {
    background: #fff;
    border: 2px solid #ddd;
    float: right;
    padding: 30px;
    width: 35%;
}

h3 {
    color: #4aaaa5;
    border: solid #ccc;
    border-width: 0 0 2px 0;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    padding-bottom: 22px;
}

.social-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.social {
    color: white;
    display: inline-block;
    height: 60px;
    margin: auto;
    padding: 0;
    transition: all 1s;
    width: 60px;

    
}
.social:hover {
    transform: scale(1.25);
}
.social a,
.social a:link,
.social a:visited,
.social a:hover,
.social a:active {
    color: white;
}

.social svg {
    height: 80%;
    width: 80%;
    margin: 10%;
}

.github {
    background: #333;
}

.linkedin {
    background: #007ab9;
}

.stackoverflow {
    background: #ffa500;
}

/* PORTFOLIO */

.portfolio-card {
    background: gray;
    margin: 0 0 30px 0;
    position: relative;
}

.portfolio-card-title {
    background: #4aaaa5;
    bottom: 20px;
    color: #fff;
    line-height: 3;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* FOOTER */

footer {
    background: #666;
    border: solid #4aaaa5;
    border-width: 4px 0 0 0;
    margin-top: 40px;
    width: 100%;
    flex-shrink: 0;
}

#footer-content {
    background: #666;
    color: #fff;
    font-size: 12px;
    line-height: 2.4;
    margin: 20px auto 0;
    text-align: center;
    width: 960px;
}

@media screen and (max-width: 980px) {
    /* HEADER */
    header {}
    #header-wrapper {}
    #header-content {
        width: 75%;
    }
    h1#header-title {}
    /* NAVIGATION */
    nav {}
    nav div {}
    nav .link {}
    nav .separator {}
    /* MAIN CONTENT which wraps around section and aside */
    #content-wrapper {}
    #content {
        width: 75%;
    }
    /* SECTION */
    section {}
    h2.section-title {}
    .bioimage {
        float: none;
        padding: 0;
        width: auto;
    }
    /* ASIDE */
    aside {}
    h3 {}
    /* PORTFOLIO */
    .portfolio-card {}
    .portfolio-card-title {}
    /* FOOTER */
    footer {}
    #footer-content {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    /* HEADER */
    header {}
    #header-wrapper {}
    #header-content {
        width: 95%;
    }
    h1#header-title {}
    /* NAVIGATION */
    nav {}
    nav div {}
    nav .link {}
    nav .separator {}
    /* MAIN CONTENT which wraps around section and aside */
    #content-wrapper {}
    #content {
        width: 95%;
    }
    /* SECTION */
    section {
        float: none;
        width: 100%;
    }
    h2.section-title {}
    .bioimage {
        float: left;
        padding: 0 20px 20px 0;
        width: 50%;
    }
    /* ASIDE */
    aside {
        float: none;
        margin-top: 40px;
        width: 100%;
    }
    h3 {}
    .social-wrap {
        display: inline-block;
        justify-content: unset;
    }
    .social {
        margin: 0 0 0 10px;
    }
    .social:first-child {
        margin: 0;
    }
    /* PORTFOLIO */
    .portfolio-card {
        display: inline-block;
        width: 47%;
    }
    .portfolio-card:nth-child(even) {
        margin-left: 5%;
    }
    .portfolio-card img {
        width: auto;
        height: auto;
    }
    .portfolio-card-title {}
    /* FOOTER */
    footer {}
    #footer-content {
        width: 95%;
    }
}

@media screen and (max-width: 640px) {
    /* HEADER */
    header {}
    #header-wrapper {}
    #header-content {
        width: 100%;
    }
    h1#header-title {
        display: block;
        margin: 0;
        text-align: center;
    }
    /* NAVIGATION */
    nav {
        float: none;
        margin: 20px;
        text-align: unset;
        display: flex;
        justify-content: space-around;
    }
    nav div {}
    nav .link {
        padding: 0px;
    }
    nav .separator {}
    /* MAIN CONTENT which wraps around section and aside */
    #content {}
    /* SECTION */
    section {
        width: 100%;
    }
    h2.section-title {
        font-size: 32px;
    }
    .bioimage {
        float: none;
        padding: 0 20px 20px 0;
        width: 100%;
    }
    /* ASIDE */
    aside {}
    h3 {}
    /* PORTFOLIO */
    .portfolio-card {}
    .portfolio-card-title {}
    /* FOOTER */
    footer {}
    #footer-content {}
}