html, body {
    height: 100%;
  }

body {
    background-color: #f0f0f0;
    background-image:url("../images/bg-dust_scratches.png");  
    box-sizing: content-box;
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;

    display: flex;
    flex-direction: column;
}
a, a:active, a:link, a:visited {
    color: #777;
    text-decoration: none;
}
a:hover {
    color: #7F0000;
    text-decoration: none;
}

/* CLEAR FIX */
/* ::  more widely adopted for pseudo elements because it provides support for IE8 */
.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADING TAGS */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

/* FORM */
label {
    display: block;
}
input {
    border: 1px solid #a3a8ac;
    display: block;
    line-height: 1.4;
    margin: 0 0 20px 0;
    padding: 5px;
    width: 99%;
   
}
input.message {
    height: 200px;
}
button {
    padding: 20px 50px;
    background: #4aaaa5;
    color: #fff;
    font-size: 18px;
}
button:hover {
    background-color: #7F0000;
    cursor: pointer;
}

/* HEADER */
header {
    background: #fff;
}
#header-wrapper {
    border-bottom: 2px #ccc solid;
}
#header-content {
    margin: 0 auto;
    width: 960px;
}
h1#header-title {
    background: #4aaaa5;
    color: #fff;
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 30px;
    
}

/* NAVIGATION */
nav {
    float: right;
    margin: 40px 0;
    text-align: right;
}

nav div {
    display: inline-block;
}
nav .link {
    padding: 10px;
}
nav .separator {
    color: rgb(230, 230, 230);
}



/* CONTENT */
#content-wrapper {
    flex: 1 0 auto;
}
#content {
    background: #fff;
    border: 2px solid #ddd;
    margin: 30px auto;
    min-height: 380px;
    padding: 30px;
    width: 960px;
}
h2.content-title {
    color: #4aaaa5;
    border: solid #ccc;
    border-width: 0 0 2px 0;
    padding-bottom: 30px;   
}

.bioimage {
    float: left;
    height: auto;
    padding: 0 20px 20px 0;
    width: 250px;
}

section {
    line-height: 2em;
}

/* PORTFOLIO */
.portfolio-card {
    background: gray;
    display: inline-block;
    height: 180px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 300px;
    background-repeat: no-repeat;
    background-size: 300px 180px; 
}
.portfolio-card-title {
    background: #4aaaa5;
    bottom: 20px;
    color: #fff;   
    line-height: 3;
    position: absolute;
    text-align: center;
    width: 100%;
}
.portfolio-card-bg-hangman {
    background-image: url("../images/portfolio-hangman.jpg");
}
.portfolio-card-bg-rpg {
    background-image: url("../images/portfolio-rpg.jpg");
}

.portfolio-card-bg-trivia {
    background-image: url("../images/portfolio-trivia.jpg");
}
.portfolio-card-bg-rutgers {
    background-image: url("../images/portfolio-rutgers.jpg");

}
.portfolio-card-bg-rock {
    background-image: url("../images/portfolio-rock.jpg");

}


/* FOOTER */
footer {
    background: #666;
    border:  solid #4aaaa5;
    border-width: 4px 0 0 0;
    width: 100%;

    flex-shrink: 0;
}
#footer-content {
    background: #666;
    color: #fff;
    font-size: 12px;
    line-height: 2.4;
    margin: 20px auto 0;
    text-align: center;
    width: 960px;
}